body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7)),
    url("../images/fondo_carros.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.bloque {
    
    padding: 60px 0;
    margin-top: 60px;
    width: 100%;
    border-radius: 100px;
    box-shadow: 10px 10px 10px 10px black;
    backdrop-filter: blur(10px);
}

.texto_cont {

    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
}

nav {
    background-color: rgba(20, 20, 30, 0.95);
    padding: 15px 40px;
    text-align: right;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #0e06f3;
}